extends ../layouts/main-layout.pug

block title 
    title #{docTitle}

block content 
    main 
        if prods.length > 0
            .grid 
                each product in prods 
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.products.title}
                        .card__image 
                            img(src=product.products.imageUrl, alt="A book")
                        .card__content
                            h2.product__price #{product.products.price} $
                            h3.product__price Quantity: #{product.qty}
                            p.product__description #{product.products.description}
                        .card__actions
                            a.btn(href=`/product/${product.products.id}`) Details
                            form(action="/cart-delete" method="POST" type="submit")
                                input(type="hidden" name="prodId" value=product.products.id)
                                button.btn Delete 

        else 
            h1 No products added to cart